.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginArea {
    margin-top: 150px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 25px;
    width: 500px;
}

.headerArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerArea > img {
    width: 70%;
}

.loginText > p {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.loginArea > .loginForm > form > .loginRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
}

.loginArea > .loginForm > form > .loginRow > input {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
    width: 90%;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 20px;
}

.loginArea > .loginForm > form > .loginRow > #inputEmail {
    margin-bottom: 10px!important;
}

.loginArea > .loginForm > form > .formButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginArea > .loginForm > form > .formButton > button {
    width: 90%;
    height: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    background-color: #ff9600;
}

.loginArea > .loginForm > form > .formButton > button:hover {
    width: 90%;
    height: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    background-color: #ff7b10;
}

.loginArea > hr {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.footLink {
    display: flex;
    flex-direction: row-reverse;
}

.footLink > a {
    font-size: 18px;
    margin-top: 10px;
    padding-right: 15px;
}




















/* .bg{
    background-image: url('../img/imgBG.jpg');
    /* Full height 
    height: 100%;

    /* Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#signin {
    width: 100%;
    margin-top: 120px;
}

#signin .row  {
    min-width: 100%;
}

#signin .row #si {
    margin: auto;
}

.si-logo {
    width: 100%;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
    margin-top: -40px;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    border-color: #ff9600;
    background-color: #ff9600;
}

.form-label-group input {
    border-radius: 2rem;
    font-size: 20px;
}

.form-label-group #inputEmail {
    margin-bottom: -20px;
}

.form-label-group #inputPassword {
    margin-bottom: 20px;
}

.toRegister{
    padding-left: 4rem;
} */