#header > .navbar {
    background-color: #ffffff;
    height: 50px;
    border-radius: 0px;
}

#header > .navbar > .row {
    height: inherit;
}

#header > .navbar > .row > .co {
    height: inherit;
}

#header-logo > .logo > img {
    height: 40px;
}

#header-search > .search-container > input {
    height: 30px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ececec;
    border-radius: 25px;
    border: none;
    font-size: 15px!important;
}

#header-search .search-container button {
    font-size: 15px!important;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ff9600;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

#header-search .search-container button:hover {
    color: #ececec;
    border: none;
}
