{{!-- NAVIGATION BAR - BASIC --}}

<div class="container-fluid fixed-top" id="header">
    <div class="row no-gutters navbar">
        {{!-- Navbar Start --}}
        <div class="col" id="header-logo">
            <a class="pull-left logo" href="/"><img src="/img/recipeep-logo-blackorange.png" data-toggle="tooltip" title="Home"></a>
        </div>
    </div>
</div>