{{!-- NAVIGATION BAR - LOGGED OUT 1 --}}

<div class="container-fluid fixed-top" id="header">
    <div class="row no-gutters navbar">
        {{!-- Navbar Start --}}
        <div class="col-2" id="header-logo">
            <a class="pull-left logo" href="/"><img src="/img/recipeep-logo-blackorange.png" data-toggle="tooltip" title="Home"></a>
        </div>
        {{!-- Search Bar --}}
        <div class="col-5" id="header-search">
            <form class="search-container" id="search-form" action="/search/new">
                {{!-- Input Area --}}
                <input type="text" placeholder="Search for recipes." name="search">
                {{!-- Search Button --}}
                <button type="submit" data-toggle="tooltip" title="Search"><i class="fa fa-search"></i></button>
            </form>
        </div>
        {{!-- Space --}}
        <div class="col-1" id="header-space">
            <img src="/img/vertical-line.png" class="vl" />
        </div>
        {{!-- Login --}}
        <div class="col-2" id="header-login" method="GET" action="/login">
            <a href="/login" class="button">
                <button type="button"><i class="fa fa-user"></i>&nbsp;&nbsp;Login</button>
            </a>
        </div>
        {{!-- Register --}}
        <div class="col-2" id="header-register" method="GET" action="/register">
            <a href="/register" class="button">
                <button type="button"><i class="fa fa-pen"></i>&nbsp;&nbsp;Register</button>
            </a>
        </div>
    </div>
</div>