<div class="container-fluid fixed-top" id="header">

    {{!-- NAVBAR (LOGGED OUT) START --}}
    <div class="navbar">
        
        {{!-- Homepage Button --}}
        <div class="col-2" id="header-logo">
            <a class="pull-left logo" href="/"><img src="/img/recipeep-logo-blackorange.png" data-toggle="tooltip" title="Home"></a>
        </div>

        {{!-- Search Area --}}
        <div class="col-5" id="header-search">
            <form class="search-container" id="search-form" action="search">
                <!-- Input -->
                <input type="text" placeholder="Search for recipes." name="search" width="50">
                <!-- Button -->
                <button type="submit" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fa fa-search"></i></button>
            </form>
        </div>

        {{!-- Blank Space --}}
        <div class="col-1" id="header-vline">
            <img src="/img/vertical-line.png" class="pull-right vl" />
        </div>

        {{!-- Login Button --}}
        <div class="col-2" id="header-login">
            <a href="login" class="pull-right btn"><button type="button"><i
                        class="fa fa-user"></i>&nbsp;&nbsp;Login</button></a>
        </div>

        {{!-- Register Button --}}
        <div class="col-2" id="header-register">
            <a href="register" class="pull-left btn"><button type="button"><i
                        class="fa fa-pen"></i>&nbsp;&nbsp;Register</button></a>
        </div>
    </div>
</div>