{{!-- NAVIGATION BAR - LOGGED IN 2 --}}

<div class="container-fluid fixed-top" id="header">
    <div class="row no-gutters navbar">
        {{!-- Navbar Start --}}
        <div class="col-7" id="header-logo">
            <a class="pull-left logo" href="/"><img src="/img/recipeep-logo-blackorange.png" data-toggle="tooltip" title="Home"></a>
        </div>
        {{!-- Create Post --}}
        <div class="col-3" id="header-create-post">
             <a href="createPost" class="btn">
                <button type="button">Create a post</button>
            </a>

            <img src="/img/vertical-line.png" class="vl" />
        </div>
        {{!-- Profile Picture --}}
        <div class="col-1" id="header-pfp">
            <button type="button" class="btn pull-right" data-toggle="tooltip" data-placement="bottom" title="Go to profile">
                <a class="pfp" href="/viewProfile"><img src="{{profPic}}"></a> 
            </button>
        </div>
        {{!-- Logout --}}
        <div class="col-1" id="header-logout" method="GET" action="/logout">
            <a href="/logout" class="pull-right btn">
                <button type="button">Logout</button>
            </a>
        </div>
    </div>
</div>