{{!-- NAVIGATION BAR - LOGGED OUT 2 --}}

<div class="container-fluid fixed-top" id="header">
    <div class="row no-gutters navbar">
        {{!-- Navbar Start --}}
        <div class="col-7" id="header-logo">
            <a class="pull-left logo" href="/"><img src="/img/recipeep-logo-blackorange.png" data-toggle="tooltip" title="Home"></a>
        </div>
        {{!-- Space --}}
        <div class="col-1" id="header-space">
            <img src="/img/vertical-line.png" class="vl" />
        </div>
        {{!-- Login --}}
        <div class="col-2" id="header-login">
            <a href="login" class="button">
                <button type="button"><i class="fa fa-user"></i>&nbsp;&nbsp;Login</button>
            </a>
        </div>
        {{!-- Register --}}
        <div class="col-2" id="header-register">
            <a href="register" class="button">
                <button type="button"><i class="fa fa-pen"></i>&nbsp;&nbsp;Register</button>
            </a>
        </div>
    </div>
</div>