<div class="container-fluid fixed-top" id="header">

    {{!-- NAVBAR (LOGGED IN) START --}}
    <div class="navbar">
        
        {{!-- Homepage Button --}}
        <div class="col-2" id="header-logo">
            <a class="pull-left logo" href="/"><img src="/img/recipeep-logo-blackorange.png" data-toggle="tooltip" title="Home"></a>
        </div>

        {{!-- Search Area --}}
        <div class="col-5" id="header-search">
            <form class="search-container" id="search-form" action="search">
                <!-- Input -->
                <input type="text" placeholder="Search for recipes." name="search" width="50">
                <!-- Button -->
                <button type="submit" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fa fa-search"></i></button>
            </form>
        </div>

        {{!-- Blank Space --}}
        <div class="col-3" id="header-vline">
            <img src="/img/vertical-line.png" class="pull-right vl" />
        </div>

        {{!-- Profile Icon --}}
        <div class="col-1" id="header-pfp">
            <button type="button" class="btn pull-right" data-toggle="tooltip" data-placement="bottom" title="Go to profile">
                <a class="pfp" href="/"><img src="/img/default-icon.png"></a>
            </button>
        </div>

        {{!-- Logout Button --}}
        <div class="col-1" id="header-logout">
            <a href="/" class="pull-right btn">
                <button type="button">Logout</button>
            </a>
        </div>
    </div>
</div>