{{!-- FOOTER --}}
<footer class="page-footer">
    {{!-- <div class="col-2" id="header-register" method="GET" action="/about">
        <a href="/about" class="button">
            <button type="button"><i class="fa fa-pen"></i>&nbsp;&nbsp;About</button>
        </a>
    </div> --}}
    <div class="container-fluid" id="footer-content">
        <span class="text">
            Made by <span class="emp">Team Crammers</span>
            &nbsp;&nbsp;<span class="v-line">|</span>&nbsp;&nbsp;
            &copy; 2020
            &nbsp;&nbsp;<span class="v-line">|</span>&nbsp;&nbsp;
            <a href="/about" class="about">[About]</a> the Project
        </span>
    </div>
</footer>