<!DOCTYPE html>
<html>

<head>
    {{!-- Metadata --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Recipeep: Your Online Recipe Forum</title>
    <link rel="icon" href="/img/recipeep-favicon.ico" type="image/gif">

    {{!-- JQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{{_sections.scriptJQ}}}

    {{!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    {{!-- Bootstrap CDN CCS/JS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesextra.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    {{{_sections.headCSS}}}

    {{!-- Font --}}
    <script src="https://kit.fontawesome.com/748aeda77d.js" crossorigin="anonymous"></script>

    {{!-- Local JQuery --}}
    <script src="/scripts/register.js" type="text/javascript"></script>
</head>

<body>
    {{> loggedInNav1}}
    {{{body}}}
    {{> pageFooter}}

    {{{_sections.scriptJS}}}
</body>

</html>