{{#section 'headCSS'}}
    <link rel="stylesheet" href="../../css/aboutpage.css">
{{/section}}

<div class="container-about" id="about-page">
    <div class="about-details">
        <div class="about-title">
            npm packages and third party libraries
        </div>

        <hr class="hr">

        <div class="row no-gutters pv">
            <div class="col-3 c1">
                <span class="em e1">PACKAGE</span>

                <br>&bull; bcryptjs
                <br>&bull; body-parser
                <br>&bull; bootstrap-css
                <br>&bull; bootstrap-js
                <br>&bull; cookie-parser
                <br>&bull; cors
                <br>&bull; express
                <br>&bull; express-handlebars
                <br>&bull; express-session
                <br>&bull; gridfs-stream
                <br>&bull; handlebars
                <br>&bull; jquery
                <br>&bull; moment
            </div>
            <div class="col-2 c2">
                <span class="em e2">VERSION</span>

                <br>2.4.3
                <br>1.19.0
                <br>4.4.1
                <br>4.4.1
                <br>1.4.5
                <br>2.8.5
                <br>4.17.1
                <br>3.1.0
                <br>1.17.0
                <br>1.1.1
                <br>4.7.6
                <br>3.4.1
                <br>2.24.0
            </div>
            <div class="column c3"></div>
            <div class="col-4 c4">
                <span class="em e4">PACKAGE</span>
                
                <br>&bull; mongodb
                <br>&bull; mongoose
                <br>&bull; mongoose-type-email
                <br>&bull; mongoose-type-url
                <br>&bull; multer
                <br>&bull; multer-gridfs-storage
                <br>&bull; nodemon
                <br>&bull; passport
                <br>&bull; passport-local
                <br>&bull; passport-local-mongoose
                <br>&bull; popper
                <br>&bull; dotenv
            </div>
            <div class="col-2 c5">
                <span class="em e5">VERSION</span>

                <br>3.5.5
                <br>5.9.4
                <br>1.0.12
                <br>1.0.6
                <br>1.4.2
                <br>4.0.2
                <br>2.0.2
                <br>0.4.1
                <br>1.0.0
                <br>6.0.1
                <br>1.16.0
                <br>8.2.0
            </div>
        </div>
    </div>
</div>