{{#section 'scriptJS'}}
    <script src="../../scripts/register.js"></script> 
{{/section}}

{{#section 'scriptJQ'}}
    <script src="../../scripts/register-jq.js"></script> 
{{/section}}

{{#section 'headCSS'}}
    <link rel="stylesheet" href="../../css/register.css">
{{/section}}

<div class="container-register" id="register">

    {{!-- REGISTER AREA --}}
    <div class="registerArea">

        {{!-- Header --}}
        <div class="headerArea">
            {{!-- Logo --}}
            <img src="img/recipeep-logo-blackorange.png" class="registerLogo">
        </div>
        <div class="headerArea">
            <div class="registerText">
                <p>Welcome to Recipeep!</p>
            </div>
        </div>

        {{!-- Register Form --}}
        <div class="registerForm">
            {{!-- Form Start --}}
            <form method="POST" action="/register" enctype="multipart/form-data">
                {{!-- Username --}}
                <div class="formRow">
                    <label for="inputUser" class="forLabels">Username</label>
                    <input type="text" id="username" name="username" class="formTextBox" placeholder="Username" required autofocus>
                </div>

                {{!-- Email Address --}}
                <div class="formRow">
                    <label for="EmailAdress" class="forLabels">Email Address</label>
                    <input type="email" id="email" name="email" class="formTextBox" placeholder="Email Address" required>
                </div>

                {{!-- Password --}}
                <div class="formRow">
                    <label for="inputPassword" class="forLabels">Password</label>
                    <input type="password" id="password" name="password" class="formTextBox password" placeholder="Password" required>
                </div>

                <hr>

                {{!-- Image Upload --}}
                <div class="formRow">
                    <label for="ProfilePicture" class="forLabels">Avatar Upload</label>
                    <input type="file" id="profPic" name ="profPic" accept=".jpg, .jpeg, .png" onchange="validateFileType()" required>
                </div>

                {{!-- Short Description --}}
                <div class="formRow">
                    <label for="description" class="forLabels description">Short<br>Description</label>
                    <textarea type="text" id="description" name="description" class="description" placeholder="Short Description" required></textarea>
                </div>

                <hr>

                {{!-- Submit Button --}}
                <div class="formButton">
                    <button class="registerButton" type="submit">Register</button></a>
                </div>  
            </form>
        </div>

        {{!-- Redirect to Login --}}
        <div class="footLink">
            <a href="/login">Already a Member?</a>
        </div>
    </div>
</div>

{{#if message}}
<div class="modal fade" id="register-not-success" tabindex="-1" role="dialog" aria-hidden="true">

    {{!-- Modal Dialogue Box --}}
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            {{!-- Modal Header --}}
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="close" type="button" data-dismiss="modal">
                    <span class="close-button">&times;</span>
                </button>
            </div>

            {{!-- Modal Body --}}
            <div class="modal-body">
                <p class="body-text">{{message}}</p>                    
            </div>
        </div>
    </div>
</div>
{{/if}}