.bg{
    background-image: url('../img/imgBG.jpg');
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#signin {
    width: 100%;
    margin-top: 120px;
}

#signin .row  {
    min-width: 100%;
}

#signin .row #si {
    margin: auto;
}

.si-logo {
    width: 100%;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
    margin-top: -40px;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    border-color: #ff9600;
    background-color: #ff9600;
}

.form-label-group input {
    border-radius: 2rem;
    font-size: 20px;
}

.form-label-group #inputEmail {
    margin-bottom: -20px;
}

.form-label-group #inputPassword {
    margin-bottom: 20px;
}

.toRegister{
    padding-left: 4rem;
}