#postsFull {
    margin: auto;
    margin-top: 100px!important;
    font-size: 15px;
}

#post-title {
    word-wrap: break-word;
}

#user-name {
    font-size: 20px!important;
}

#user-name > a > .un {
    font-weight: 500;
    color: #ff9600;
}

#user-name > a > .un:hover {
    font-weight: 500;
    color: #db8f23;
}

#date-rate > .ratings {
    float: right;
    color: #ff9600;
}

#date-rate > .ratings > .ratings-nope {
    color: #dddddd!important;
}

#description {
    margin-top: 20px;
}

#postsFull > .content-entry > .tags {
    margin-top: 40px;
    margin-bottom: 10px;
}

#postsFull > .content-entry > .tags > .tag-name {
    color: #9d9b98;
    text-transform: uppercase;
}

#postsFull > .content-entry > .tags > .post-tags {
    color: #ff9600;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #ff9600;
    border-color: #ff9600;
    border-radius: 5px;
    padding-right: 8px;
    padding-left: 8px;
}

#comment-action > p {
    color: #000000;
    font-weight: 400;
}

#comment-action > p > .action-r {
    float: right;
    padding-left: 20px;
}

#edit-post,
#delete-post,
#share-post {
    margin-left: 10px;    
}

#rate-post, 
#edit-post,
#delete-post,
#share-post {
    color: #ff9600!important;
    padding-right: 10px;
    padding-left: 10px;
}

#rate-post:hover,
#edit-post:hover,
#delete-post:hover,
#share-post:hover {
    color: #000000!important;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #e0e0e0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#comments-section {
    width: 95%;
    margin: auto;
}

#comment-form > .card-body > .submit-comment > button {
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ff9600;
    border: none;
}

#comment-form > .card-body > .submit-comment > button:hover {
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c7782c;
    border: none;
}

#comments-section .media-body {
    padding-top: 5px;
}

#comments-section .media .pfp {
    width: 40px;
    vertical-align: middle;
}

#comments-section .media-body .comment-un a {
    font-weight: 500;
    color: #ff9600;
}

#comments-section .media-body .comment-un a:hover {
    font-weight: 500;
    color: #c7782c;
}

#comments-section .media-body .date-posted {
    color: #a5a6a8;
}

#comments-section .media-body .comment-details {
    border-top: 2px solid #ff9600;
    padding-top: 5px;
    padding-right: 10px;
}

#comments-section .media-body .comment-actions {
    float: right;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}

#comments-section .media-body .comment-actions .edit #edit-comment,
#comments-section .media-body .comment-actions .delete #delete-comment {
    color: #a5a6a8;
    margin-left: 20px;
}

#comments-section .media-body .comment-actions .edit #edit-comment:hover,
#comments-section .media-body .comment-actions .delete #delete-comment:hover {
    color: #ff9600;
}

#page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-nav .pagination #prev {
    border-color: #ffffff;
}

#rating-modal .modal-dialog .modal-footer #cancel-star {
    background-color: #999999;
    font-weight: 500;
    color: #ffffff;
}

#rating-modal .modal-dialog .modal-footer #cancel-star:hover {
    background-color: #595959;
    font-weight: 500;
    color: #ffffff;
}

#rating-modal .modal-dialog .modal-footer #rate-star {
    background-color: #ff9600;
    font-weight: 500;
    color: #ffffff;
}

#rating-modal .modal-dialog .modal-footer #rate-star:hover {
    background-color: #ff9600;
    font-weight: 500;
    color: #ffffff;
}

#post-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-rating > .rates { 
    border: none;
}

fieldset, label { 
    margin: 0; 
    padding: 0; 
}

#post-rating > .rates > input { 
    display: none; 
} 

#post-rating > .rates > label:before { 
    margin: 5px;
    font-weight: 900;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

#post-rating > .rates > label { 
    color: #dddddd; 
    float: right; 
}

#post-rating > .rates > input:checked ~ label,
#post-rating > .rates:not(:checked) > label:hover,
#post-rating > .rates:not(:checked) > label:hover ~ label { 
    color: #FFD700;  
} 

#post-rating > .rates > input:checked + label:hover, 
#post-rating > .rates > label:hover ~ input:checked ~ label, 
#post-rating > .rates > input:checked ~ label:hover ~ label { 
    color: #FFED85;  
}

#page-nav-comments {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-nav-comments .pagination li a {
    border: none;
    color: #000000;
}

#page-nav-comments .pagination li a:hover {
    border: none;
    color: #db8f23;
    background-color: #ececec;
}

#page-nav-comments .pagination li a.disabled {
    border: none;
    color: #808080;
}

#images > .row {
    width: 100%;
    max-width: inherit;
}

#images > .row > .col > img{
    margin: auto;
}


