#rating-modal > .modal-dialog > .modal-content > .modal-body {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

#rating-form > .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

#rating-form > .rating-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #000000;
}

#rating-form > .form-group > .form-check-inline > label {
  display: none;
}

#rating-form > .form-group > .form-check-inline > input { 
  font-size: 25px!important;
  position: relative;
  z-index: 2;
  cursor: pointer;
  left: 17px;
  top: 3px;
  opacity: 0;
} 

#rating-form > .form-group > .form-check-inline > input:hover { 
  font-size: 25px!important;
  position: relative;
  z-index: 2;
  cursor: pointer;
  left: 17px;
  top: 3px;
  opacity: 0;
} 

#rating-form > .form-group > .form-check-inline > .star {
  color: #777777;
  font-size: 25px!important;
  position: relative;
  z-index: 1;
  margin-left: -10px;
}

/* #rating-form > .form-group > .form-check-inline > .star:hover {
  color: #ffd100;
  font-size: 25px!important;
  position: relative;
  z-index: 1;
  margin-left: -10px;
} */

#selected-rating {
  margin-left: 5px;
  margin-right: 5px;
  color: #ffd100;
  font-size: 20px;
}

#m-body > form > .modal-buttons {
  float: right;
  padding-right: 15px!important;
}

#m-body > form > .modal-buttons > button {
  color: #ffffff;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#m-body > form > .modal-buttons > #cancel-star {
  background-color: #999999;
  margin-right: 10px;
}

#m-body > form > .modal-buttons > #proceed-star {
  background-color: #ff9600;
}

#m-body > form > .modal-buttons > #cancel-star:hover {
  background-color: #595959;
  margin-right: 10px;
}

#m-body > form > .modal-buttons > #proceed-star:hover {
  background-color: #ff7b10;
}