



/* MAIN */

body {
    background-color: #f9f9f9;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 20px;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/* HOME PAGE */
#banner {
    margin-top: 70px;
}

#banner #banner-carousel {
    width: 100%;
    margin: 0 auto;
}

#banner #banner-carousel ol li {
    height: 15px!important;
    width: 15px!important;
    border: none;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#banner #banner-carousel .carousel-inner .carousel-item img {
    width: 100%;
}

#posts .row .posts-area {
    margin: auto;
    margin-top: 60px;
}

#posts .row .posts-area .pop-new-sorter a,
#posts .row .posts-area .page-count a {
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
}

#posts .row .posts-area .pop-new-sorter a.active,
#posts .row .posts-area .page-count a.active {
    background-color: #ff9600;
    border-color: #ff9600;
    pointer-events: none;
}

#posts .row .posts-area .pop-new-sorter a:hover .active,
#posts .row .posts-area .page-count a:hover .active {
    background-color: #ececec;
    border-color: #ececec;
    color: #ff9600;
}

#posts .row .posts-area .pop-new-sorter a:hover:not(.active),
#posts .row .posts-area .page-count a:hover:not(.active) {
    background-color: #ececec;
    border-color: #ececec;
    color: #ff9600;
}

#posts .row .posts-area .page-count a.disabled {
    color: #808080;
}

#posts .row .sort-area {
    margin: auto;
    margin-bottom: 20px;
}

#posts .row .sort-area .sort-dd {
    float: right;
    /* visibility: hidden; */
    display: none;
}
/* 
#posts .row .sort-area #star-dd {
    visibility: hidden;
} */

#posts .row .sort-area .sort-dd .dropdown-menu {
    font-size: 20px;
    text-align: center;
}

#posts .row .sort-area .sort-dd button {
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

#posts .row .sort-area .sort-dd button:hover {
    background-color: #ececec;
    color: #ff9600;
    border: none;
}

#posts .row .blog-posts {
    margin: auto;
    margin-top: 20px;
}

.card-body {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.card-body .title {
    color: #000000;
    word-wrap: break-word;
    font-size: 40px;
}

.card-body a:hover .title {
    color: #ff9600;
}

.card-text {
    padding-top: 12px;
    font-size: 20px;
    margin-bottom: 20px;
}

.card-body .tags {
    margin-top: 20px;
}

.card-body .tags .tag-name {
    color: #9d9b98;
    text-transform: uppercase;
}

.card-body .tags .post-tags {
    color: #ff9600;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #ff9600;
    border-color: #ff9600;
    border-radius: 10%;
    padding-right: 8px;
    padding-left: 8px;
}

.card-footer {
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.card-footer #username .un {
    font-weight: 500;
    color: #ff9600;
    text-decoration: none;
}

.card-footer #username:hover .un {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.card-footer .comments {
    float: right;
}

.card-footer .ratings {
    background-color: #ff9600;
    color: #ffffff;
    border-radius: 25px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 2px;
    padding-bottom: 3px;
    font-size: 15px;
}

.card-footer .ratings .ratings-nope {
    color: #c2773e;
}



/*  SEARCH PAGE */

#posts .row .posts-area .search-results h2 {
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 45px;
}


/* USER ACCOUNT */

#acc-posts .posts-area {
    margin: auto;
    margin-top: 120px;
}

#acc-posts .posts-area .pop-new-sorter a,
#acc-posts .posts-area .page-count a {
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
}

#acc-posts .posts-area .pop-new-sorter a.active,
#acc-posts .row .posts-area .page-count a.active {
    background-color: #ff9600;
    border-color: #ff9600;
    pointer-events: none;
}

#acc-posts .posts-area .pop-new-sorter a:hover .active,
#acc-posts .posts-area .page-count a:hover .active {
    background-color: #ececec;
    border-color: #ececec;
    color: #ff9600;
}

#acc-posts .posts-area .pop-new-sorter a:hover:not(.active),
#acc-posts .posts-area .page-count a:hover:not(.active) {
    background-color: #ececec;
    border-color: #ececec;
    color: #ff9600;
}

#acc-posts .posts-area .page-count a.disabled {
    color: #808080;
}

#acc-posts .sort-area {
    margin-bottom: 40px;
}

#acc-posts .sort-area .sort-dd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#acc-posts .sort-area .sort-dd .dropdown-menu {
    font-size: 20px;
    text-align: center;
}

#acc-posts .sort-area .sort-dd button {
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

#acc-posts .sort-area .sort-dd button:hover {
    background-color: #ececec;
    color: #ff9600;
    border: none;
}

#acc-posts .blog-posts {
    margin: auto;
    margin-top: 20px;
}

#user-profile .profile-area .p-pfp {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-profile {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

#user-profile .profile-area {
    width: 60%;
}

#user-profile .profile-area img {
    width: 100%;
}

#user-profile .profile-area .p-written {
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#user-profile .profile-area .p-written .p-username {
    background-color: #ff9600;
    font-size: 20px;
    font-weight: 625;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-profile .profile-area .p-written .p-bio,
#user-profile .profile-area .p-written .p-day {
    text-transform: uppercase;
    color: #323232;
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
}

#user-profile .profile-area .p-written .p-bio-details {
    font-weight: 500;
    color: #7f7f7f;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#user-profile .profile-area .p-written hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

#user-profile .profile-area .p-written .p-day-details {
    font-weight: 500;
    color: #7f7f7f;
    font-size: 15px;
    text-transform: capitalize;
    float: right;
}

#postsFull {
    margin: auto;
    margin-top: 120px !important;
}

#post-title {
    word-wrap: break-word;
}

.content-entry {
    margin-top: 30px;
}

#user-name .un {
    font-weight: 500;
    color: #ff9600;
}

#user-name #username:hover .un {
    font-weight: 500;
    color: #db8f23;
}

#details #date-rate .ratings {
    float: right;
    color: #ff9600;
}

#details #date-rate .ratings .ratings-nope {
    float: right;
    color: #dddddd;
}

.tags {
    margin-top: 50px;
    margin-bottom: 25px;
}

.tags .tag-name {
    color: #9d9b98;
    text-transform: uppercase;
}

.tags .post-tags {
    color: #ff9600;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #ff9600;
    border-color: #ff9600;
    border-radius: 10%;
    padding-right: 8px;
    padding-left: 8px;
}

#comment-action {
    font-weight: 500;
}

#comment-action #comment-action-details .action-r {
    float: right;
}

#comment-action #comment-action-details .action-l .rate a,
#comment-action #comment-action-details .action-r .edit a,
#comment-action #comment-action-details .action-r .delete a,
#comment-action #comment-action-details .action-r .share a {
    color: #000000;
}

#comment-action #comment-action-details .action-r .edit #edit-post,
#comment-action #comment-action-details .action-r .delete #delete-post,
#comment-action #comment-action-details .action-r .share #share-post {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 20px;
}

#comment-action #comment-action-details .action-l .rate #rate-post {
    padding-right: 10px;
    padding-left: 10px;
}

#comment-action #comment-action-details .action-l .rate:hover #rate-post,
#comment-action #comment-action-details .action-r .edit:hover #edit-post,
#comment-action #comment-action-details .action-r .delete:hover #delete-post,
#comment-action #comment-action-details .action-r .share:hover #share-post {
    background-color: #ececec;
    color: #c7782c;
    border-radius: 5%;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0 0 0 2pt #ececec;
}

.details-bottom .comments {
    margin-top: 50px;
    margin-bottom: 50px;
}

#comments-section {
    width: 95%;
    margin: auto;
}

#comment-form .card-body .submit-comment button {
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ff9600;
    border: none;
}

#comment-form .card-body .submit-comment button:hover {
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c7782c;
    border: none;
}

#comments-section .media-body {
    padding-top: 5px;
}

#comments-section .media .pfp {
    width: 40px;
    vertical-align: middle;
}

#comments-section .media-body .comment-un a {
    font-weight: 500;
    color: #ff9600;
}

#comments-section .media-body .comment-un a:hover {
    font-weight: 500;
    color: #c7782c;
}

#comments-section .media-body .date-posted {
    color: #a5a6a8;
}

#comments-section .media-body .comment-details {
    font-size: 18px;
    border-top: 2px solid #ff9600;
    padding-top: 5px;
    padding-right: 10px;
}

#comments-section .media-body .comment-actions {
    float: right;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}

#comments-section .media-body .comment-actions .edit #edit-comment,
#comments-section .media-body .comment-actions .delete #delete-comment {
    color: #a5a6a8;
    margin-left: 20px;
}

#comments-section .media-body .comment-actions .edit #edit-comment:hover,
#comments-section .media-body .comment-actions .delete #delete-comment:hover {
    color: #ff9600;
}

#page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#page-nav .pagination #prev {
    border-color: #ffffff;
}

#rating-modal .modal-dialog .modal-footer #cancel-star {
    background-color: #999999;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
}

#rating-modal .modal-dialog .modal-footer #cancel-star:hover {
    background-color: #595959;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
}

#rating-modal .modal-dialog .modal-footer #rate-star {
    background-color: #ff9600;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
}

#rating-modal .modal-dialog .modal-footer #rate-star:hover {
    background-color: #ff7b10;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
}

#post-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-rating > .rates { 
    border: none;
}

fieldset, label { 
    margin: 0; 
    padding: 0; 
}

#post-rating > .rates > input { 
    display: none; 
} 

#post-rating > .rates > label:before { 
    margin: 5px;
    font-size: 20px;
    font-weight: 900;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

#post-rating > .rates > label { 
    color: #dddddd; 
    float: right; 
}

#post-rating > .rates > input:checked ~ label,
#post-rating > .rates:not(:checked) > label:hover,
#post-rating > .rates:not(:checked) > label:hover ~ label { 
    color: #FFD700;  
} 

#post-rating > .rates > input:checked + label:hover, 
#post-rating > .rates > label:hover ~ input:checked ~ label, 
#post-rating > .rates > input:checked ~ label:hover ~ label { 
    color: #FFED85;  
}

#page-nav-comments {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-nav-comments .pagination li a {
    border: none;
    font-size: 18px;
    color: #000000;
}

#page-nav-comments .pagination li a:hover {
    border: none;
    font-size: 18px;
    color: #db8f23;
    background-color: #ececec;
}

#page-nav-comments .pagination li a.disabled {
    border: none;
    font-size: 18px;
    color: #808080;
}