<div class="container-fluid fixed-top" id="header">

    {{!-- NAVBAR (LOGGED OUT) START --}}
    <div class="navbar">
        
        {{!-- Homepage Button --}}
        <div class="col-12" id="header-logo">
            <a class="pull-left logo" href="/home"><img src="/img/recipeep-logo-blackorange.png" data-toggle="tooltip" title="Home"></a>
        </div>
    </div>
</div>